/************************
		ELEMENTS
************************/
body {
	margin-top: 80px;
	font-family:Arial, Helvetica, sans-serif;
}
h2, h3 {
	color: #06C;
}

canvas{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
	border: 1px black solid;
}
select{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	padding: 3px;
}
footer {
	font-size:0.7em;
	text-align:center;
	margin-top: 60px;
	color: #06C;
}
footer li {
	list-style-type: none;
	display:inline;
	padding: 20px 5px;
}
footer a {
	color:#06C;
}
footer a:hover {
	opacity: 0.8;
	color: #000;
}
/************************
		CLASSES
************************/
.logo {
	font-size:2em;
	color: #FFF;
	float:left;
	margin-top: -15px;
}
.logo:hover {
}
.center {
	margin:50px 10px;
}
.intertexting {
	font-size: 1.1em;
}
.blueText {
	color:#06C;
}
.polaroid {
	padding: 5px;
	border:solid #CCC 1px;
	-webkit-box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 5px rgba(50, 50, 50, 0.75);
	-ms-box-shadow:         3px 3px 5px rgba(50, 50, 50, 0.75);
	-o-box-shadow:         3px 3px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         3px 3px 5px rgba(50, 50, 50, 0.75);
	margin:0px 30px 30px 15px;
	background-color:#FFF;
}
.circleImg {
	padding: 5px;
	-moz-border-radius: 1000px;
	-ms-border-radius: 1000px;
	-o-border-radius: 1000px;
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
	border:solid #CCC 1px;
	-webkit-box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 5px rgba(50, 50, 50, 0.75);
	-ms-box-shadow:         3px 3px 5px rgba(50, 50, 50, 0.75);
	-o-box-shadow:         3px 3px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         3px 3px 5px rgba(50, 50, 50, 0.75);
	margin:0px 30px 30px 15px;
	background-color:#FFF;
}
.squareList {
	list-style:square;
	font-weight: bold;
}
.textCol {
	background-color: #CCC;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-webkit-border-radius: 15px;
	padding: 10px 20px;
	vertical-align:middle;
	font-size: 0.9em;
	margin: 10px;
	width: 25%;
	min-height: 230px;
	float: left;
}
.centerControls{
	text-align: center;
	margin: 0px auto;
}
.SuperWormText{
	font-family: Bangers !important;
}
.SuperWormBtnWidth{
	width: 150px;
}
.noOutline{
	outline: none !important;
}
.floatRight{
	float:right;
}
.menuHeader{
	margin: 10px;
}
/************************
		IDS
************************/
#achievementTable{
	font-size: 1.2em;
	margin: 10px auto;
	width: 95%;
}
	#achievementTable td:first-child{
		font-family: Bangers;
		font-size: 1.1em;
		padding-right:10px;
		padding-left:10px;
		width: 30%;
	}
	#achievementTable td:last-child{
		padding:5px 5px;
	}
	#achievementTable tr{
		height: 40px;
	}
	#achievementTable tr:nth-child(even){
		background: #337AB7;
		color: #FFF;
	}

#time{
	width: 400px;
}
#time li{
	display: inline;
	float: left;
	width: 200px;
}
#center, #time, #timeText{
		margin-left:auto;
		margin-right:auto;
		text-align: center;
	}
#timeText, #multText{
		font-family: 'Bangers', cursive;
		border:none;
		font-size: 2em;
		color: #06C;
		width: 90px !important;
		padding: 2px;
}
#gameEditor{
	margin: 20px auto;
}
#editorCellsLeft{
	color: #06F;
	font-weight: bold;
	font-family: 'Bangers';
	font-size: 1.2em;
}
#timeText{
	text-align: left;
}
#multText{
	text-align: right;
}
#scoreText{
	color: #06C;
	background-color: #FFF;
	border: none;
	font-size: 1em;
	font-weight: bold;
	width: 100px;
	text-align: center;
}
#wFact{
	color: #06C;
	font-style: italic;
}
#streak{
	font-family: 'Bangers', cursive;
	color: #06C;
	font-size: 2em;
	line-height: 45px;
	vertical-align: middle;
}
#mainGameTitle{
	font-family:Bangers;
	color: #06C;
	display: inline;
	height: 50px;
	vertical-align: middle;
	margin-left: 20px;
}

#wrapper {
	width: 80%;
	margin: auto;
}
